.carousel1
    .carousel1__content
        .content__bottom
            .carousel
                .carousel-indicators
                    button
                        .indicator-1
                            background: url('../img/index/carousel1/cat1-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-2
                            background: url('../img/index/carousel1/cat2-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-3
                            background: url('../img/index/carousel1/cat3-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        p
                            color: $color-gray
                            
                    button.true
                        .indicator-1
                            background: url('../img/index/carousel1/cat1-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-2
                            background: url('../img/index/carousel1/cat2-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-3
                            background: url('../img/index/carousel1/cat3-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        p
                            color: $color-darkBlue
                            font-weight: bold

.carousel2
    .carousel2__content
        .content__bottom
            .carousel
                .carousel-indicators
                    button
                        .indicator-1
                            background: url('../img/index/carousel2/cat1-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-2
                            background: url('../img/index/carousel2/cat2-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-3
                            background: url('../img/index/carousel2/cat3-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        p
                            color: $color-gray
                            
                    button.true
                        .indicator-1
                            background: url('../img/index/carousel2/cat1-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-2
                            background: url('../img/index/carousel2/cat2-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-3
                            background: url('../img/index/carousel2/cat3-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        p
                            color: $color-darkBlue
                            font-weight: bold

.dream-house
    .dream-house__content
        .content__middle
            .carousel
                .carousel-indicators
                    button
                        .indicator-1
                            background: url('../img/index/dream-house/cat1-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-2
                            background: url('../img/index/dream-house/cat2-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-3
                            background: url('../img/index/dream-house/cat3-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-4
                            background: url('../img/index/dream-house/cat4-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-5
                            background: url('../img/index/dream-house/cat5-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-6
                            background: url('../img/index/dream-house/cat6-off.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        p
                            color: $color-darkGray

                    button.true
                        .indicator-1
                            background: url('../img/index/dream-house/cat1-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-2
                            background: url('../img/index/dream-house/cat2-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-3
                            background: url('../img/index/dream-house/cat3-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-4
                            background: url('../img/index/dream-house/cat4-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-5
                            background: url('../img/index/dream-house/cat5-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        .indicator-6
                            background: url('../img/index/dream-house/cat6-on.png')
                            background-size: 100%
                            background-repeat: no-repeat
                            background-position: center

                        p
                            color: $color-darkBlue
                            font-weight: bold