.carousel1
    background: url('../img/index/carousel1/background-mobile.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    @include media-breakpoint('sm')
        background: url('../img/index/carousel1/background.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center

.carousel2
    background: url('../img/index/carousel2/background-mobile.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    @include media-breakpoint('sm')
        background: url('../img/index/carousel2/background.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center

.modal
    .modal-content
        background: url('../img/index/modals/background-mobile.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center

        @include media-breakpoint('sm')
            background: url('../img/index/modals/background.jpg')
            background-repeat: no-repeat
            background-size: cover
            background-position: center

.wwa
    background: url('../img/index/wwa/background.png')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    .wwa__content
        .content
            background: url('../img/index/wwa/background-content.png')
            background-repeat: no-repeat
            background-size: cover
            background-position: center

.dream-house
    background: url('../img/index/dream-house/background-mobile.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

    @include media-breakpoint('sm')
        background: url('../img/index/dream-house/background.jpg')
        background-repeat: no-repeat
        background-size: cover
        background-position: center

.footer
    .footer__content
        .content__top
            background: url('../img/index/footer/top-mobile.jpg')
            background-repeat: no-repeat
            background-size: cover
            background-position: center

            @include media-breakpoint('sm')
                background: none

        .content__bottom
            background: url('../img/index/footer/background-mobile.jpg')
            background-repeat: no-repeat
            background-size: 100dvh 100%
            background-position: center

            @include media-breakpoint('sm')
                background: url('../img/index/footer/background.jpg')
                background-repeat: no-repeat
                background-size: 100dvw 100%
                background-position: center
